<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Learn2"
        tools:targetApi="31">
        <activity
            android:name=".ReadReview"
            android:exported="false" />
        <activity
            android:name=".WriteReview"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".TutorDes"
            android:exported="false" />
        <activity
            android:name=".MainPageTeacher"
            android:exported="false"
            android:label="@string/title_activity_main_page_teacher"
            android:theme="@style/Theme.Learn2.NoActionBar" />
        <activity
            android:name=".TeacherInfoInput"
            android:exported="false" />
        <activity
            android:name=".Resete"
            android:exported="false" />
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".InfoInput"
            android:exported="false" />
        <activity
            android:name=".Reset"
            android:exported="false" />
        <activity
            android:name=".MainPage"
            android:exported="false"
            android:label="@string/title_activity_main_page"
            android:theme="@style/Theme.Learn2.NoActionBar" />
        <activity
            android:name=".LoadingDialog"
            android:exported="false" />
        <activity
            android:name=".TutorSignup"
            android:exported="false" />
        <activity
            android:name=".Tutorsignin"
            android:exported="false" />
        <activity
            android:name=".StudentSignup"
            android:exported="false" />
        <activity
            android:name=".StudentSIgnin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MYFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.Send">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENTS" />
                <action android:name="com.google.android.c2dm.intent.Reciever" />
            </intent-filter>
        </service>
    </application>

</manifest>